 
<script th:src="@{/resources/js/app.min.js}"></script>
<!-- Dashboard Scripts -->
<script th:src="@{/resources/js/dashboard.min.js}"></script>
<!-- Custom Scripts -->
<script th:src="@{/resources/js/custom.min.js}"></script>
<script th:src="@{/resources/sweet_alert/sweetalert-dev.js}"></script>
<script th:src="@{/resources/khmeracademy/js/user.js}"></script>
<!-- /End Sweet Alert -->
<!-- JQuery Bootpag -->
<script th:src="@{/resources/khmeracademy/js/jquery.bootpag.min.js}"></script>
<script th:src="@{/resources/js/sweet-alert.min.js}"></script>

<!-- JQuery Template -->
<script th:src="@{/resources/khmeracademy/js/jquery.tmpl.min.js}"></script>